.appWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
}

.serverSettings {
  height: 200px;
  width: 300px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  background-color: var(--bg-gray);
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: var(--shadow-elevation-low);
  border-radius: 5px;
  padding: 20px;
}

.blurBackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(1px);
  z-index: 5;
}

.isHidden {
  display: none;
}
.isShown {
  display: block;
}

.TEST {
  height: 200px;
  align-self: center;
}

.createNewServerwrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100%;
}
.createNewServerwrapper h3 {
  margin-bottom: 30px;
  color: var(--text-gray);
}
