p.addChannel {
  margin-top: 20px;
  width:fit-content; 
  align-self: center;
}

p.addChannel:hover {
  cursor: pointer; 
}

.channelNameWrap {
  display: flex;
  padding-right: 20px;
  justify-content: flex-start;
  column-gap: 10px;
}

.channelNameWrap > div:nth-child(1) > i{
  color: var(--darkblue);
}

.cogWheel{
  margin-left: auto;
}
.cogWheel:hover {
  color: var(--darkblue);
  cursor: pointer;
}

