.server {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.server .submitButton {
  border-radius: 3px;
  background-color: var(--darkblue);
}
.server h3 {
  align-self: flex-start;
}
.server p {
  padding-top: 15px;
  font-style: italic;
}
.server .deleteButton {
  align-self: center;
  width: 150px;
  color: black;
  background-color: var(--bg-gray);
  cursor: not-allowed;
}
.server .deleteButton.pass {
  background-color: red;
  cursor: pointer;
}
.pass {
 color: green;
}
.fail {
  color: red;
}
.hidden {
  visibility: hidden;
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
