aside {
  display: flex;
  flex-direction: column;
  border: 1px pink solid;
}

.modalShow {
  border: 1px solid red;
  background: linear-gradient(yellow, orange);
  position: fixed;
  top: calc(50% - 15%);
  left: calc(50% - 15%);
  width: 30%;
}

.modalHide {
  display: none;
}

.optionsButton {
  background-color: pink;
  border-radius: 0px;
  height: 20px;
  width: 20px;
}

.newServerButton {
  background-color: lavender;
}
