header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  background-color: var(--darkblue);
}

.clock {
  color: white;
}

.searchBar {
  flex-grow: 1;
  margin: 0px 10px;
}

.interactiveButton {
  color: white;
}
.interactiveButton:hover {
  color: var(--blue);
  cursor: pointer;
}
